In [1]:
import matplotlib.dates as md
import pandas as pd
import numpy as np
import math
import datetime
import seaborn as sns
import missingno as msno
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import seaborn as sns
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.preprocessing import RobustScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold

from matplotlib import rc
from patsy import *
plt.style.use('seaborn')
rc('font', family='NanumGothic')
plt.rcParams['axes.unicode_minus'] = False
%matplotlib inline

-

In [2]:
# 데이터 설명 
# date - 날짜, temp - 온도, tour - 관광객 수, population - 제주도 인구수

In [2]:
jeju = pd.read_csv("datas/target_v3.csv")
jeju = jeju[["date","temp","population","humid"]]
jeju.tail()

           date  temp  population  humid
833  2020-05-14  18.7    670798.0  0.563
834  2020-05-15  19.9    670798.0  0.915
835  2020-05-16  17.6    670798.0  0.966
836  2020-05-17  17.1    670798.0  0.916
837  2020-05-18  19.2    670798.0  0.921

In [3]:
jeju_tour = pd.read_csv("datas/tour_stat.csv")
jeju_tour.tail(3)

           date   tour
835  2020-05-16  23009
836  2020-05-17  24394
837  2020-05-18  24001

### 문제 1 번 
- jeju 데이터와 jeju_tour 데이터 프레임을 합치시고 
- jeju_data 라고 데이터 프레임을 저장하세요!

In [5]:
# code
# '''여기에 쓰세요!'''
jeju_data = pd.merge(jeju, jeju_tour)
jeju_data.tail()

           date  temp  population  humid   tour
833  2020-05-14  18.7    670798.0  0.563  23327
834  2020-05-15  19.9    670798.0  0.915  22135
835  2020-05-16  17.6    670798.0  0.966  23009
836  2020-05-17  17.1    670798.0  0.916  24394
837  2020-05-18  19.2    670798.0  0.921  24001

### GRNI  수치는 GRDP/지역 인구를 의미한다.
### 제주도인 경우는 관광객 수를 GRDP로 친다고 하면
### jeju_data 프레임에서 위와 같은 수식을 이용한 GRNI의 로그값이 들어가는 행을 추가하세요 ! (로그값!!!)

In [ ]:
# code 는 여기에!

In [12]:
GRDP = jeju_data["tour"]
population = jeju_data["population"]
GRNI = GRDP / population
result = np.log(GRNI)
jeju_data["GRNI"] = result
jeju_data.tail()

           date  temp  population  humid   tour      GRNI
833  2020-05-14  18.7    670798.0  0.563  23327 -3.358857
834  2020-05-15  19.9    670798.0  0.915  22135 -3.411308
835  2020-05-16  17.6    670798.0  0.966  23009 -3.372583
836  2020-05-17  17.1    670798.0  0.916  24394 -3.314131
837  2020-05-18  19.2    670798.0  0.921  24001 -3.330373

-

#### 2) 체감온도 및 불쾌지수 추가
- 불쾌지수
    - 0.81 * 섭씨온도 +0.01 * 상대습도(%)（0.99*섭씨온도 - 14.3）+ 46.3

In [ ]:
### 코드는 여기에!!### 
## 함수 만들어서 해주세요 ~~
# jeju_data 를 활용해주세요! 
# 그냥하면 1점 감점

In [ ]:
# code 는 여기에!

In [48]:
ls = []
def degree(info):
    
    for temp,humid in info:
    
        result = 0.81*temp + 0.01*humid*(0.99*temp - 14.3) + 46.3
        ls.append(result)

In [49]:
a = jeju_data["temp"].values
b = jeju_data["humid"].values

In [50]:
degree(list(zip(a, b)))

In [52]:
jeju_data["degree"] = ls

In [53]:
jeju_data

           date  temp  population  humid   tour      GRNI     degree
0    2018-02-01   4.3    659189.0  0.601  33144 -2.990149  49.722642
1    2018-02-02   3.8    659234.0  0.553  31549 -3.039537  49.319725
2    2018-02-03   1.3    659278.0  0.673  31348 -3.045995  47.265423
3    2018-02-04  -1.0    659323.0  0.720  26980 -3.196118  45.379912
4    2018-02-05  -0.1    659368.0  0.712  30188 -3.083837  46.116479
..          ...   ...         ...    ...    ...       ...        ...
833  2020-05-14  18.7    670798.0  0.563  23327 -3.358857  61.470719
834  2020-05-15  19.9    670798.0  0.915  22135 -3.411308  62.468419
835  2020-05-16  17.6    670798.0  0.966  23009 -3.372583  60.586178
836  2020-05-17  17.1    670798.0  0.916  24394 -3.314131  60.175082
837  2020-05-18  19.2    670798.0  0.921  24001 -3.330373  61.895361

[838 rows x 7 columns]