### 자료형
- 리스트
- 튜플
- 딕셔너리

#### 리스트
- 순서가 있는 데이터의 집합

In [2]:
# 리스트 변수 선언하는 방법
ls = [1, "python", False]
print(type(ls), ls)

<class 'list'> [1, 'python', False]

In [4]:
# 리스트 데이터를 문자열로 합쳐주는 함수 - join
a = ["data", "science", "python"]
result = "@".join(a)
print(result, type(result))

data@science@python <class 'str'>

### quiz 1
- 리스트 데이터를 문자열로 합쳐서 문장으로 만들어 주세요.
- 가장 앞글자는 대문자, 마지막에는 마침표를 찍어 주세요.
```
ls = ["python", "is", "best", "programing", "language"]
```

In [13]:
ls = ["python", "is", "best", "programing", "language"]
result =" ".join(ls)
result = result[0].upper()+ result[1:] + "."
print(result)
#result => "Python is best programing language."

Python is best programing language.

### 리스트의 오프셋
- 문자열은 하나의 문자를 오프셋 단위로 인식
- 리스트는 하나의 값을 오프셋 단위로 인식

In [15]:
a = ["python", "data", 1, True, "fast"]
print(a[1])

data

In [16]:
print(a[2:])

[1, True, 'fast']

In [17]:
print(a[::-1])

['fast', True, 1, 'data', 'python']

In [19]:
print(a[-2:])
print(a[-2:][0])

[True, 'fast']
True

### quiz 2
- 홀수 데이터를 거꾸로 출력하세요.
- 오프셋을 사용

```
ls = [0,1,2,3,4,5,6,7,8,9]
```

- 결과

```
result => [9,7,5,3,1]
```

In [25]:
ls = [0,1,2,3,4,5,6,7,8,9]
result = ls[1::2][::-1]
print(result)

[9, 7, 5, 3, 1]

In [27]:
# 리스트 데이터를 문자열 데이터로 바꿔주는 함수 : join
# 문자열 데이터를 리스트 데이터로 바꿔주는 함수 : split
txt = "python data science"
ls = ["python", "data", "science"]
result = txt.split(" ")
print(result)

['python', 'data', 'science']

### 리스트 함수
- append : 데이터 추가
- sort : 데이터 정렬
- reverse : 데이터를 역순으로 정렬

In [28]:
# append 함수
ls = ["data", "science"]
ls.append("fastcampus")
print(ls)

['data', 'science', 'fastcampus']

In [29]:
# sort 함수
ls = ["fast", "data", "campus", "science"]
ls.sort()
print(ls)

['campus', 'data', 'fast', 'science']

In [30]:
# reverse 함수
ls.reverse()
print(ls)

['science', 'fast', 'data', 'campus']

In [31]:
print(ls)

['science', 'fast', 'data', 'campus']

In [32]:
ls[1] = "slow"
print(ls)

['science', 'slow', 'data', 'campus']

data = "Our team is great."

In [66]:
data = "Our team is great."
result = data.lower()[:-1]
result = result.split(" ")
result.sort(key=len)
result.reverse()
result = " ".join(result)
result= result[0].upper() + result[1:] + "."
print(result)

Great team our is.

### 튜플
- 리스트와 같지만 수정이 불가능한 데이터 타입
- 리스트보다 저장공간을 적게 사용하는 특징

In [67]:
# 튜플 선언
tp = (1, 2, 3)
print(type(tp), tp)

<class 'tuple'> (1, 2, 3)

In [69]:
tp[1] = 10

TypeError: 'tuple' object does not support item assignment

In [71]:
# 튜플에서의 오프셋 인덱스 사용
tp[::-1]

(3, 2, 1)

In [74]:
import sys

ls = [1,2,3,4,5]
tp = (1,2,3,4,5)
print(sys.getsizeof(ls), "byte")
print(sys.getsizeof(tp), "byte")

96 byte
80 byte

### 딕셔너리
- 순서가 없는 데이터 집합
- 키,값으로 구성되어 있는 데이터 타입

In [75]:
# 선언
dic = {
    1:"one",
    "A":["data","science"],
    "숫자": 1234
}

print(type(dic), dic)

<class 'dict'> {1: 'one', 'A': ['data', 'science'], '숫자': 1234}

In [76]:
# 데이터에 접근
dic["A"], dic[1]

(['data', 'science'], 'one')

In [78]:
# 데이터 수정
dic[1] = "하나"
dic

{1: '하나', 'A': ['data', 'science'], '숫자': 1234}

### Quiz 1
- 아래의 테이블 데이터를 딕셔너리 데이터 타입으로 선언하세요.

```
|key  |value |
|------------|
|name |python|
|addr |seoul |
|age  |25    |
```

In [91]:
dic = {
    "name":"python",
    "addr":"seoul",
    "age":25
}
print(dic)

{'name': 'python', 'addr': 'seoul', 'age': 25}

In [92]:
# 딕셔너리에서 키값으로 사용할 수 있는 데이터 타입은 문자열과 정수 데이터 타입만 사용 가능합니다.

In [93]:
# 딕셔너리에서는 오프셋 인덱스 사용불가
dic = {"data1": 1, "data2": 2, "data3": 3}
dic

{'data1': 1, 'data2': 2, 'data3': 3}

In [94]:
dic[1]

KeyError: 1

#### 딕셔너리 함수
- keys() : 키 데이터만 가져오는 함수
- values() : 값 데이터만 가져오는 함수
- items() : 키와 값을 가져오는 함수(리스트와 튜플)
- update() : 두개의 딕셔너리를 합쳐주는 함수

In [95]:
dic = {
    "data1":1,
    "data2":2,
    "data3":3,
}
dic

{'data1': 1, 'data2': 2, 'data3': 3}

In [96]:
# keys
result = dic.keys()
print(type(result), result)

<class 'dict_keys'> dict_keys(['data1', 'data2', 'data3'])

In [97]:
# values
result = dic.values()
result

dict_values([1, 2, 3])

In [98]:
# items
result = dic.items()
result

dict_items([('data1', 1), ('data2', 2), ('data3', 3)])

In [99]:
# update
dic1 = {1:"a", 2:"b"}
dic2 = {2:"c", 3:"d"}
# dic3 = {1:"a", 2:"c", 3:"d"}
dic1.update(dic2)
dic3 = dic1
print(dic3)

{1: 'a', 2: 'c', 3: 'd'}

### quiz 2
- "국어 점수는 80점, 영어 점수는 90점, 수학 점수는 70점" 이 데이터를 리스트, 튜플, 딕셔너리 데이터 타입으로 나타내세요.

In [101]:
ls = ["국어:80점", "영어:90점", "수학:70점"]
print(type(ls), ls)

<class 'list'> ['국어:80점', '영어:90점', '수학:70점']

In [102]:
tp = ("국어:80점", "영어:90점", "수학:70점")
print(type(tp), tp)

<class 'tuple'> ('국어:80점', '영어:90점', '수학:70점')

In [104]:
dic = {"국어":80, "영어":90, "수학":70}
print(type(dic), dic)

<class 'dict'> {'국어': 80, '영어': 90, '수학': 70}

In [ ]:
# list 1
subjects = ["국어", "영어", "수학"]
points = [80, 90, 70]

#list 2
data = [("국어", 80), ("영어", 90), ("수학", 70)]

#tuple
data = (("국어", 80), ("영어", 90), ("수학", 70))

#dict
data = {
    "국어":80,
    "영어":90,
    "수학":70,
}