### 반복문 : Loop
- while
- break
- continue
- for

#### 1. while
- condition이 False가 될 때까지 code를 반복적으로 실행
```
while <condition>:
    <code>
```
-while 무한루프에 빠질 위험이 있으므로 주의해서 사용을 해야합니다.

In [2]:
a = 3
while a:
    print(a)
    a -= 1
a

3
2
1

0

In [4]:
# 무한루프 : Kernel -> Interrupt
while True:
    a =1

KeyboardInterrupt:

#### Quiz 1
- ls 리스트 값을 while문을 이용해서 모두 다 더하는 코드를 작성하세요.
```
ls = [1,2,3,4,5,6,7,8,9,10]
```

In [11]:
ls = [1,2,3,4,5,6,7,8,9,10]
result = 0
a = len(ls)
while a:
    result += a
    a -= 1
result

55

#### 2. break
- 반복문이 실행되던 중간에 break 만나게 되면 반복문이 종료됩니다.

In [13]:
a = 3
while a:
    print(a)
    if a == 2:
        break
    a -= 1
a

3
2

2

#### 3. continue
- 반복문이 실행되던 중간에 continue를 만나게 되면 반복문의 조건을 비교하는 부분으로 올라가서 코드가 실행

In [14]:
a = [1, 2, 3, 4, "q"]
idx = 0

while True:
    data = a[idx]
    idx += 1
    
    if data == "q":
        break
    elif data % 2 == 0:
        continue
    
    print(data)

1
3

#### Quiz 2
- q를 입력할 때까지 계속 값을 입력 받아서 q를 입력할 때 입력받은 값을 출력하는 코드를 작성하세요.
- 데이터를 입력받을 때 몇번째 입력인지도 출력

```
1번째 입력 (종료 : q) : data
2번째 입력 (종료 : q) ; python
3번째 입력 (종료 : q) ; science
4번째 입력 (종료 : q) ; q

["data", "python", "science"]
```

In [17]:
count, result = 0, []

while True:
    count += 1
    data = input("{}번째 입력 (종료 : q) : ".format(count))
    
    if data == "q":
        break
    
    result.append(data)

print(result)

1번째 입력 (종료 : q) : data
2번째 입력 (종료 : q) : python
3번째 입력 (종료 : q) : science
4번째 입력 (종료 : q) : q
['data', 'python', 'science']

#### 4. for
- 순서가 있는 데이터의 집합(iterable : 리스트, 튜플)에서 값을 하나씩 꺼내서 변수에 대입시킨후 for 구문 안에 있는 코드를 실행시키는 반복문

```
for <변수> in <순서가 있는 데이터 집합>:
    <code>
```
- range
- enumerate
- zip

In [19]:
ls = [0, 1, 2, 3, 4]
for value in ls:
    print(value, end=" ") # 5번실행

0 1 2 3 4

In [22]:
# dictionary를 사용한 for 반복문
dic = {"A": 1, "B": 2}
for key in dic:
    print(key)

A
B

In [23]:
dic.items()

dict_items([('A', 1), ('B', 2)])

In [24]:
for key, value in dic.items(): # ('A', 1)
    print(key, value)

A 1
B 2

#### QUiz 3
- for문을 이용하여 아래 리스트에 있는 숫자를 모두 더하는 코드를 작성하세요.
- for문과 할당연산자

```
numbers = [1, 3, 5, 8, 10, 14]
result => 41
```

In [25]:
numbers = [1, 3, 5, 8, 10, 14]
result = 0
for number in numbers:
    result += number
print(result)

41

#### 4.1 range
- list를 간편하게 생성해주는 함수입니다.
- 함수 : 코드의 집합을 실행시켜주는 방법
```
range(end)
range(start, end)
range(start, end, stride)
```

In [28]:
ls = [1, 2, 3]
ls

[1, 2, 3]

In [29]:
for _ in ls:
    print("data science")

data science
data science
data science

In [30]:
list(range(3))

[0, 1, 2]

In [31]:
for _ in range(3):
    print("data science")

data science
data science
data science

In [32]:
list(range(1, 5))

[1, 2, 3, 4]

In [33]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [37]:
list(range(10, 0, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

#### Quiz 4
- 5를 입력했을 때 아래와 같이 별이 출력되는 코드를 작성하세요.

```
*
**
***
****
*****
```

In [45]:
number = 6
for a in range(1,number + 1):
    print("*" * a)

*
**
***
****
*****
******

#### Quiz 5
- 5를 입력했을 때 아래와 같이 별이 출력되는 코드를 작성하세요.

```
     *
    **
   ***
  ****
 *****
```

In [57]:
number = 5
for a in range(1, number + 1):
    print((number-a) * " " + a * "*")

    *
   **
  ***
 ****
*****

#### Quiz 6
- 홀수만 입력이 가능
- 5를 입력하면 아래와 같이 별이 출력되도록 코드를 작성

```
  *
 ***
*****
```

In [65]:
number = 7
for a in range(1, number + 1, 2):
    b = int((number-a)/2)
    print(" " * b + a * "*")

   *
  ***
 *****
*******

#### Quiz 7
- 구구단의 단을 입력하면 해당 단을 출력하는 코드를 작성하세요.

```
input number : 4

4단
4*1=4
4*2=8
4*3=12
...
4*9=36
```

In [77]:
number = int(input("input number : "))
print(str(number) + "단")
for num in range(1, 10):
    mul = num * number
    print(str(number) + "*" + str(num) + "=" + str(mul) )

input number : 7
7단
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63

#### Quiz 8
- 아래의 2개의 리스트 데이터를

```
subject = ["korean", "english", "math", "science"]
points = [100, 80, 90, 60]
```

- for문을 이용하여 딕셔너리 데이터로 변경하는 코드를 작성하세요.

```
result => {"korean":100, "english":80, "math":90, "science":60}
```

In [90]:
subject = ["korean", "english", "math", "science"]
points = [100, 80, 90, 60]
result = {}

for idx in range(len(subject)):
    result[subject[idx]] = points[idx]

print(result)

{'korean': 100, 'english': 80, 'math': 90, 'science': 60}

In [2]:
subject = ["korean", "english", "math", "science"]
points = [100, 80, 90]
result = {}

count = len(points) if len(subject) > len(points) else len(subject)

for idx in range(count):
    result[subject[idx]] = points[idx]

print(result)

{'korean': 100, 'english': 80, 'math': 90}

#### 4.2 enumerate
- 리스트 데이터의 index와 value값을 동시에 사용할 수 있게 해주는 함수입니다.

In [3]:
# 과목명과 과목번호를 같이 출력
subjects = ["korean", "english", "math", "science"]
number = 1
for subject in subjects:
    print(number, subject)
    number += 1

1 korean
2 english
3 math
4 science

In [4]:
list(enumerate(subjects))

[(0, 'korean'), (1, 'english'), (2, 'math'), (3, 'science')]

In [6]:
for idx, subject in enumerate(subjects):
    print(idx+1, subject)

1 korean
2 english
3 math
4 science

### 4.3 zip
- n개의 리스트를 같은 index끼리 묶어주는 함수

In [11]:
subjects = ["korean", "english", "math", "science"]
points = [100, 80, 90, 60]
list(zip(subjects,points))

[('korean', 100), ('english', 80), ('math', 90), ('science', 60)]

In [12]:
result = {}
for subject, point in zip(subjects, points):
    result[subject] = point
result

{'korean': 100, 'english': 80, 'math': 90, 'science': 60}

In [13]:
dict(zip(subjects,points))

{'korean': 100, 'english': 80, 'math': 90, 'science': 60}

#### 랜덤 함수

In [44]:
import random
# 1 ~ 10 랜덤하게 정수 데이터를 뽑고 싶으면
random.randint(1, 10)

4

In [20]:
# 설정한 데이터에서 하나의 데이터를 랜덤하게 뽑기
random.choice([1, 5, 9])

9

#### Quiz 9
- 로또번호를 출력하는 코드를 작성하세요.
- 1~45까지의 숫자 중에 6개의 숫자를 뽑으시면 됩니다.
- 중복이 되지 않도록 6개의 숫자를 뽑으시면 됩니다.
- while, break, if, in, list, append 사용

```
result => [3, 8, 15, 19, 25, 31]
```

In [65]:
import random

result = []

while True:
    number = random.randint(1, 45)
    
    # result 안에 number가 없을 때 number를 result에 추가
    if number not in result:
        result.append(number)
    
    if len(result) == 6:
        result.sort()
        break

result

[23, 28, 32, 34, 43, 45]