### summary
- numpy : 선형대수를 빠르게 연산해주는 패키지
- 행렬의 생성 1 : ndarray타입, np.array(iterable)
- 행렬의 생성 2 : ones, zeros
- 행렬 데이터 선택 : array[x, y, z]
- 행렬 데이터 수정
    - 행렬 데이터를 선택
    - =, > (값(scala, vector, matrix))
    - 브로드 캐스팅 개념
- arange : list에서 사용하는 range : 결과가 ndarray

### quiz 
- 100 ~ 130 까지 랜덤한 숫자를 가지는 8*8행렬을 만들고,
- 3의 배수는 fiz, 5의 배수는 buz, 3과 5의 배수는 fbz 문자로 변환
- 위의 조건에 맞지 않는 데이터는 랜덤하게 생성된 정수로 출력
- 랜덤한 행렬 데이터

```
datas = np.random.randint(100, 130, size=(8, 8))
```
- 데이터 타입이 정수 -> 문자열 : ndarray.astype()

In [14]:
import numpy as np

In [22]:
datas = np.random.randint(100, 130, size=(8,8))
datas

array([[107, 128, 102, 103, 103, 122, 118, 115],
       [127, 105, 127, 100, 114, 125, 105, 120],
       [125, 111, 111, 113, 104, 106, 104, 127],
       [113, 113, 109, 101, 129, 111, 109, 122],
       [129, 104, 111, 123, 126, 112, 104, 112],
       [114, 112, 129, 111, 115, 105, 128, 103],
       [104, 102, 114, 121, 108, 123, 117, 112],
       [128, 119, 103, 129, 107, 116, 112, 126]])

In [23]:
data1 = np.array([1,2,3])
data2 = [True, False, True]
data1[data2]

array([1, 3])

In [24]:
# 3의 배수, 5의 배수, 15의 배수 위치값에 대한 T, F matrix 생성
idx_3 = datas % 3 == 0
idx_5 = datas % 5 == 0
idx_15 = datas % 15 == 0

In [25]:
# 데이터의 타입을 str으로 변환
datas.dtype

dtype('int32')

In [26]:
result = datas.astype("str")
result

array([['107', '128', '102', '103', '103', '122', '118', '115'],
       ['127', '105', '127', '100', '114', '125', '105', '120'],
       ['125', '111', '111', '113', '104', '106', '104', '127'],
       ['113', '113', '109', '101', '129', '111', '109', '122'],
       ['129', '104', '111', '123', '126', '112', '104', '112'],
       ['114', '112', '129', '111', '115', '105', '128', '103'],
       ['104', '102', '114', '121', '108', '123', '117', '112'],
       ['128', '119', '103', '129', '107', '116', '112', '126']],
      dtype='<U11')

In [27]:
# T, F matrix를 이용하여 특정 조건의 데이터를 선택 후 브로드캐스팅하게 값을 대입
result[idx_3] = "fiz"
result[idx_5] = "buz"
result[idx_15] = "fbz"

In [28]:
result

array([['107', '128', 'fiz', '103', '103', '122', '118', 'buz'],
       ['127', 'fbz', '127', 'buz', 'fiz', 'buz', 'fbz', 'fbz'],
       ['buz', 'fiz', 'fiz', '113', '104', '106', '104', '127'],
       ['113', '113', '109', '101', 'fiz', 'fiz', '109', '122'],
       ['fiz', '104', 'fiz', 'fiz', 'fiz', '112', '104', '112'],
       ['fiz', '112', 'fiz', 'fiz', 'buz', 'fbz', '128', '103'],
       ['104', 'fiz', 'fiz', '121', 'fiz', 'fiz', 'fiz', '112'],
       ['128', '119', '103', 'fiz', '107', '116', '112', 'fiz']],
      dtype='<U11')

### Quiz
- 1 ~ 20까지 랜덤한 숫자를 가지는 5*5 행렬 생성
- 최대값에는 MAX, 최소값에는 MIN 문자열이 들어가도록 치환하는 코드
- 최대값과 최소값 함수
```
np.min(ndarray), np.max(ndarray)
```

In [83]:
datas = np.random.randint(1, 20, (5,5))
datas

array([[11,  1, 13,  6,  6],
       [ 5,  1, 16, 11, 12],
       [14, 14,  8, 13, 10],
       [ 5, 14, 16, 13,  8],
       [ 2, 15,  1,  1,  7]])

In [84]:
min_num, max_num = np.min(datas), np.max(datas)
min_num, max_num

(1, 16)

In [85]:
idx_min = datas == min_num
idx_max = datas == max_num

In [86]:
result = datas.astype("str")

In [87]:
result[idx_min] = "MIN"
result[idx_max] = "MAX"

In [88]:
result

array([['11', 'MIN', '13', '6', '6'],
       ['5', 'MIN', 'MAX', '11', '12'],
       ['14', '14', '8', '13', '10'],
       ['5', '14', 'MAX', '13', '8'],
       ['2', '15', 'MIN', 'MIN', '7']], dtype='<U11')

### 1. linspace, logspace 함수
- linspace : 설정한 범위에서 선형적으로 분할한 위치의 값을 출력 
- logspace : 설정한 범위에서 로그로 분할한 위치의 값을 출력

In [3]:
# linspace
np.linspace(0, 100, 5)

array([  0.,  25.,  50.,  75., 100.])

In [5]:
# logspace
# log10(x1)=2, log10(x2)=3, log10(x3)=4
np.logspace(2, 4, 3)

array([  100.,  1000., 10000.])

In [6]:
# 30세에 연봉이 $100000 이고 60세의 연봉이 $1000000 일 때
# 연봉이 선형으로 증가, 지수함수로 증가하는 두 경우에서의 40세, 50세 연봉을 출력

In [7]:
age_30 = 100000
age_60 = 1000000

In [8]:
np.linspace(age_30, age_60, 4)

array([ 100000.,  400000.,  700000., 1000000.])

In [9]:
np.logspace(np.log10(age_30), np.log10(age_60), 4)

array([ 100000.        ,  215443.46900319,  464158.88336128,
       1000000.        ])

### 2. numpy random
- seed : 랜덤값을 설정값
- rand : 균등분포로 난수를 발생
- randn : 정규분포로 난수를 발생
- randint : 균등분포로 정수값을 발생
- suffle : 행렬 데이터를 섞어 줍니다.
- choice : 특정 확률로 데이터를 선택

In [10]:
# seed
np.random.seed(1)
result1 = np.random.randint(10, 100, 10)

np.random.seed(1)
result2 = np.random.randint(10, 100, 10)

np.random.seed(2)
result3 = np.random.randint(10, 100, 10)

result1, result2, result3

(array([47, 22, 82, 19, 85, 15, 89, 74, 26, 11]),
 array([47, 22, 82, 19, 85, 15, 89, 74, 26, 11]),
 array([50, 25, 82, 32, 53, 92, 85, 17, 44, 59]))

In [11]:
np.random.rand(10)

array([0.20464863, 0.61927097, 0.29965467, 0.26682728, 0.62113383,
       0.52914209, 0.13457995, 0.51357812, 0.18443987, 0.78533515])

In [12]:
np.random.randn(10)

array([-0.0191305 ,  1.17500122, -0.74787095,  0.00902525, -0.87810789,
       -0.15643417,  0.25657045, -0.98877905, -0.33882197, -0.23618403])

In [16]:
# shuffle
r = np.random.randint(1, 10, (3, 4))
r

array([[2, 8, 9, 3],
       [9, 8, 2, 7],
       [9, 6, 4, 1]])

In [17]:
np.random.shuffle(r)
r
# 바깥쪽에 있는 차원만 섞임, reshape 이용

array([[9, 8, 2, 7],
       [9, 6, 4, 1],
       [2, 8, 9, 3]])

In [56]:
# choice
np.random.choice(5, 10, p=[0.1, 0, 0.4, 0.2, 0.3])

array([4, 4, 3, 4, 4, 2, 4, 2, 2, 4])

In [58]:
# unique
numbers, counts = np.unique(r, return_counts=True)
print(numbers)
print(counts)

[1 2 3 4 6 7 8 9]
[1 2 1 1 1 1 2 3]

### 3. 행렬 데이터의 결합
- concatenate

In [59]:
na1 = np.random.randint(10, size=(2,3))
na2 = np.random.randint(10, size=(3,2))
na3 = np.random.randint(10, size=(3,3))

In [61]:
na1

array([[0, 8, 6],
       [5, 1, 7]])

In [62]:
na2

array([[4, 3],
       [6, 1],
       [4, 0]])

In [63]:
na3

array([[8, 5, 4],
       [2, 9, 7],
       [1, 9, 2]])

In [64]:
# 세로 결합
np.concatenate((na1, na3))

array([[0, 8, 6],
       [5, 1, 7],
       [8, 5, 4],
       [2, 9, 7],
       [1, 9, 2]])

In [65]:
# 가로 결합
np.concatenate((na2, na3),axis=1)

array([[4, 3, 8, 5, 4],
       [6, 1, 2, 9, 7],
       [4, 0, 1, 9, 2]])

In [66]:
# c_, r_
np.c_[np.array([1,2,3]),np.array([4,5,6])]

array([[1, 4],
       [2, 5],
       [3, 6]])

In [67]:
np.r_[np.array([1,2,3]),np.array([4,5,6])]

array([1, 2, 3, 4, 5, 6])

In [68]:
# split, var, std, mean ...