- 연산자
- 조건문

### 예제

### 1. 7의 9제곱을 출력하세요.

In [0]:
7 ** 9

40353607

### 2. 1234 / 123 의 몫과 나머지를 출력하세요.

In [0]:
num1 = 1234 // 123
num2 = 1234 % 123
print("몫:{}, 나머지:{}".format(num1, num2))

몫:10, 나머지:4

### 3. 아래의 리스트 데이터에서 "python" 이 있으면 True를 출력, 없으면 False를 출력 하는 코드를 작성하세요.
```
data1 = ["python", "data", "fast"]
data2 = ["campus", "data", "fast"]
```

In [0]:
data1 = ["python", "data", "fast"]
data2 = ["campus", "data", "fast"]

result1 = "python" in data1
result2 = "python" in data2

print(result1, result2)

True False

### 4. 아래의 코드를 삼항연산자로 변경하세요.

```
keyword = "mac"
data = ["mac", "os", "windows", "linux"]
if keyword in data:
    print("데이터가 있습니다.")
else:
    print("데이터가 없습니다.")
```

In [0]:
keyword = "mac"
data = ["mac", "os", "windows", "linux"]
result = "데이터가 있습니다." if keyword in data else "데이터가 없습니다."
result

'데이터가 있습니다.'

### 5. not 연산자를 사용해서 홀수와 짝수를 구분하는 코드를 작성하세요.

```
number = 5
결과 : 홀수
```

In [0]:
number = 5
if not number % 2:
    print("짝수")
else:
    print("홀수")

홀수

### 6. num1과 num2가 둘다 홀수 일때 True를 출력하는 코드를 작성하세요.

```
num1, num2 = 3, 5
결과 : True

num1, num2 = 3, 6
결과 : False
```

In [0]:
num1, num2 = 3, 5
if (num1 % 2 != 0) and (num2 % 2 != 0):
    print(True)
else:
    print(False)

True

### 7. number 변수의 정수가 짝수이면서 3의 배수인경우 True를 출력하는 코드를 작성하세요.

```
number = 9
Fasle

number = 6
True
```

In [0]:
number = 9

if (number % 3 == 0) and (number % 2 == 0):
    print(True)
else:
    print(False)

False

### 8. 한자리수를 입력하면 앞에 0을 붙이고 두자리수를 입력하면 0을 붙이지 않도록 코드를 작성하세요.

```
insert number : 7
result => 07

insert number : 22
result => 22
```

In [0]:
number = int(input("insert number : "))
if number < 10:
    print("0{}".format(number))
else:
    print(number)

insert number : 7
07

In [0]:
number = int(input("insert number : "))
if number < 10:
    print("0{}".format(number))
else:
    print(number)

insert number : 22
22

### 9. 1월 1일이 월요일일때 1월 x일은 무슨 요일일까요?

- x는 31이하의 수를 입력받습니다.

```
week = ["일", "월", "화", "수", "목", "금", "토"]
```

- 결과

```
insert day : 23
'화'
```

In [0]:
week = ["일", "월", "화", "수", "목", "금", "토"]
day = int(input("insert day : "))
result = week[day % 7]
result

insert day : 23

'화'

### 10. 요일을 입력받아 주말인지 아닌지를 판별하는 코드를 작성하세요.

- 아래와 같이 변수를 선언해서 코드를 작성하세요.

```
weekend = ["토", "일"]
weekday = ["월", "화", "수", "목", "금"]
```

- 결과

```
insert week : 월
주중

insert week : 일
주말
```

In [0]:
day = input("insert week : ")
weekend = ["토", "일"]
weekday = ["월", "화", "수", "목", "금"]
if day in weekend:
    print("주말")
elif day in weekday:
    print("주중")

insert week : 일
주말