- 데이터 타입
- 데이터 형변환
- 입출력

### 퀴즈

### 1. 데이터 타입 7가지를 쓰세요.

### 2. 동적 타이핑에 대해서 서술하세요.

변수를 선언할 때 변수에 저장되는 값에 따라 자동으로 데이터 타입이 설정이 됨

### 3. 리스트와 튜플의 차이에 대해서 쓰세요.

리스트와 달리 튜플은 내용을 바꿀 수 없다

### 4. 아래의 데이터를 list 데이터 타입을 이용하여 표현하세요.

```
| index | city  | population |
|-------|-------|------------|
| 0     |seoul  | 9,741,381  |
| 1     |busan  | 3,416,918  |
| 2     |daegu  | 2,453,041  |
```

In [4]:
data = {
    "index":[0, 1, 2],
    "city":["seoul", "busan", "daegu"],
    "population":[9741381, 3416918, 2453041]
}
type(data)

dict

### 5. 아래의 데이터를 dictionary 데이터 타입을 이용하여 표현하세요.


```
| index | city  | population |
|-------|-------|------------|
| 0     |seoul  | 9,741,381  |
| 1     |busan  | 3,416,918  |
| 2     |daegu  | 2,453,041  |
```

In [5]:
data1 = [
    {"index":0, "city":"seoul", "population":9741381},
    {"index":1, "city":"busan", "population":3416918},
    {"index":2, "city":"daegu", "population":24530141}
]
data1

[{'index': 0, 'city': 'seoul', 'population': 9741381},
 {'index': 1, 'city': 'busan', 'population': 3416918},
 {'index': 2, 'city': 'daegu', 'population': 24530141}]

In [6]:
type(data1)

list