### class : 클래스
- 변수와 함수를 묶어 놓은 개념
- 사용 방법
    - 변수와 함수가 들어있는 클래스를 선언
    - 클래스를 객체로 만들어서 클래스 안에 선언된 변수와 함수를 사용

#### 1. 기본 클래스의 사용

In [1]:
# 클래스의 선언
class Calculator:
    
    num1 = 1
    num2 = 2
    
    def plus(self):
        return self.num1 + self.num2
        #pass
    
    def minus(self):
        return self.num1 - self.num2

        #pass

In [2]:
# 클래스의 사용
calc = Calculator() # 대문자로 클래스라는 것을 구분
calc

In [7]:
calc.num1, calc.num2, calc.plus(), calc.minus()
#method -> 클래스의 function

(1, 2, 3, -1)

In [8]:
# self의 의미 : 객체 자신
calc2 = Calculator()

In [9]:
calc2.num1 = 10

In [10]:
calc2.plus()

12

### 2. 객체지향(개발 방법론 중의 하나)
- 실제 세계를 코드에 반영해서 개발하는 방법
- 여러 명의 개발자가 코드를 효율적으로 작성해서 프로젝트를 완성시키기 위한 방법
- 설계도 작성(class) -> 실제 물건(object)
- 클래스 - 사용자 정의 데이터 타입

In [11]:
obj = "python"
obj.upper()
# obj(객체) 안에 있는 재료를 대문자로 바꾸어 결과를 return 해주는 함수가 있는 것

'PYTHON'

In [12]:
ls = [1, 3, 2]
ls.sort()
# ls(객체) 안에 있는 재료를 순서를 바꾸어 주는 함수가 있는 것

In [13]:
ls

[1, 2, 3]

In [15]:
[data for data in dir(calc) if data[:2] != "__"]

['minus', 'num1', 'num2', 'plus']

### 3. 생성자
- 클래스가 객체로 생성될 때 실행되는 함수
- 변수(재료)를 추가할 때 사용됩니다.

In [20]:
class Calculator:
    
    # 생성자 함수 : __init__
    def __init__(self, num1, num2=10):
        self.num1 = num1
        self.num2 = num2
        
    def plus(self):
        return self.num1 + self.num2
            
    def minus(self):
        return self.num1 - self.num2

In [21]:
calc1 = Calculator(3, 4)
calc1.plus()

7

In [22]:
calc2 = Calculator(3)
calc2.plus()

13

In [23]:
# join
ls = ["python", "is", "good"]
sep=" "
sep.join(ls)

'python is good'

In [24]:
# panda dataframe
import pandas as pd

In [25]:
df = pd.DataFrame([
    {"name": "jin", "age": 20},
    {"name": "andy", "age": 21},
])

In [26]:
df

   name  age
0   jin   20
1  andy   21